.hs-hero-slider {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hs-hero-slider .splide__slide {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.hs-hero-slider .splide__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.hs-hero-slider .splide__slide .hs-slide-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-indent: -9999px;
}

.hs-slide-content {
  position: absolute;
  top: 15%;
  left: 5%;
  color: #fff;
  z-index: 2;
  max-width: 60%;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.hs-slide-content h2 {
  margin: 0;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

.hs-slide-content .hs-btn-hero-slider {
  width: fit-content;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.hs-hero-slider .splide__arrow {
  height: 3em;
  width: 3em;
}

.hs-hero-slider .splide__arrow--next {
  right: 8rem;
}

.hs-hero-slider .splide__arrow--prev {
  left: 8rem;
}

.splide__pagination__page.is-active {
  background: #667d8e !important;
}

@media (max-width: 1600px) {
  .hs-hero-slider .splide__arrow--next {
    right: 5rem;
  }

  .hs-hero-slider .splide__arrow--prev {
    left: 5rem;
  }
}

@media (max-width: 990px) {
  .hs-hero-slider .splide__arrow--next {
    right: 2em;
  }

  .hs-hero-slider .splide__arrow--prev {
    left: 2em;
  }
}

@media (max-width: 768px) {
  .hs-hero-slider .splide__slide {
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
